.page
{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #ededed;
  .header-flex
  {
    flex: 1;
  }
  .body-flex
  {
    flex: 1;
  }
}
